{% extends "layout.html" %}

{% block content %}

    <section class="doc-card">
        <div>
            <h2>{{ document.original_filename }}</h2>
            <p>
                Uploaded: {{ document.uploaded_at.strftime('%B, %d, %Y') }}
            </p>
        </div>
        <form action="{{url_for('web_delete_document', document_id=document.id)}}" method="post">
            <button class="delete-bttn"type="submit">Delete</button>
        </form>
    </section>

    <section class="actions">
        <form action="{{ url_for('web_analyse_document', document_id=document.id) }}" method="post">
            {% if document.analysis %}
                <button type="submit">Re-analyze Document</button>
            {% else %}
                <button type="submit">Analyze Document</button>
            {% endif %}
        </form>
        {% if document.analysis %}
            <form action="{{url_for('web_delete_analysis', document_id=document.id)}}" method="post">
                <button class="delete-bttn" type="submit">Delete analysis</button>
            </form>
        {% endif %}
    </section>

    {% if document.analysis %}

        <section class="card">
            <h3>Document Type</h3>
            <p>{{ document.analysis.document_type }}</p>
        </section>

        <section class="card">
            <h3>Summary</h3>
            <p>{{ document.analysis.summary }}</p>
        </section>

        <section class="card">
            <h3>Extracted Information</h3>
            <pre>
                {{ document.analysis.extracted_json | tojson(indent=2) }}
            </pre>
        </section>

        <section class="card">
            <h3>FAQ</h3>
            {% for item in document.analysis.faq_json %}
                <p><strong>{{ item.question }}</strong></p>
                <p>{{ item.answer }}</p>
                <hr>
            {% endfor %}
        </section>

    {% endif %}
    
    <h3>Question History</h3>
    {% for q in document.questions %}
        <div class="q-card">
            <div>
                <strong>Q:</strong> {{ q.question }}
                <br>
                <strong>A:</strong> {{ q.answer }}
            </div>
            <form action="{{ url_for('delete_a_question', document_id=document.id, question_id=q.id) }}" method="post">
                <button class="delete-bttn" type="submit">Delete</button>
            </form>
        </div>
    {% endfor %}


    <section class="card">
        <h3 id="questions">Ask Questions</h3>
        <form action="{{ url_for('ask_question', document_id=document.id) }}" method="post">
            <textarea name="question" rows="4" cols="50" required></textarea>
            <button class="ask-bttn" type="submit">Ask</button>
        </form>
    </section>

{% endblock %}
